html, body {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: sans-serif;
    font-size: 16px;
    background: #231f20;
}
#the-svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px;
    font-weight: lighter;
    color: white;
}
#legend {
    position: absolute;
    top: 0;
    right: 0;
}
#legend .author {
    padding: 2px 4px 2px 8px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-shadow: 0 1px 1px black;
}


.node {
    fill: white;
/*
  stroke: #fff;
  stroke-width: 1.5px;
*/
}

.edge {
  stroke-width: 8px;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  /*
  stroke: #999;
  */
}

.ref {
    stroke: black;
    stroke-width: 2.5px;
    paint-order: stroke;
}
